---
interface Props {
	href: string;
	bgColor?: string;
	hoverBgColor?: string;
	textColor?: string;
	textSize?: string;
}

const {
	href,
	bgColor = 'bg-red-600',
	hoverBgColor = 'hover:bg-red-700',
	textColor = 'text-white',
	textSize = 'text-sm md:text-base'
} = Astro.props;
---

<a
	href={href}
	class={`block ${bgColor} ${textColor} text-center py-3 px-4 ${hoverBgColor} transition-colors font-medium ${textSize}`}
>
	<slot />
</a>
